{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]},
    {i, "include"}
]}.

{deps, [
    {ponos,              "", {git, "git@github.com:klarna/ponos.git",           {branch, "master"}}},
    {quantile_estimator, "", {git, "git@github.com:odo/quantile_estimator.git", {branch, "master"}}}
]}.

