{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]},
    {i, "include"}
]}.

{deps, [
    {ponos,  "", {git, "git@github.com:klarna/ponos.git",    "5b202cc3dda2aca2c08de1dba152681f26a8f8dc"}},
    {folsom, "", {git, "git@github.com:boundary/folsom.git", "38e2cce7c64ce1f0a3a918d90394cfc0a940b1ba"}}
]}.

