[
    {ramjet, [
        { handler, ramjet_example_handler },
        { tasks, [{wait, 1000}, {wait, 1000}] },
        { load_fun, make_sawtooth }, % see https://github.com/klarna/ponos
        { load_fun_args, [5, 10] }, % session_starts/second/generator
        { load_generator_count, 10}, % start n generators, hence n * session_starts/second
        { load_duration, 20000 },    % ms
        { stats_interval, 1000 },    % ms
        { slave_hosts, ['silverfish.local']}
    ]}
].
